* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'segoe ui';
  background-color: #f8f8f8;
  scroll-behavior: smooth;
}

header {
  background-color: #242424;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 3rem;
  position: fixed;
  width: 100%;
  z-index: 10;
  margin: 0;
}

header>a {
  text-decoration: none;
  color: white;
}

.instagram {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  font-family: cursive;
  text-decoration: none;
  color: #fd6f2c;
}

.container {
  margin: 0rem auto;
  display: flex;
  padding-top: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  gap: 17px;
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container>a>.product {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 10px 5px 0px;
  border-radius: 5px;
  text-align: center;
  min-width: 100px;
  width: 250px;
  aspect-ratio: 1/1.2;
  transition: all 0.5s;
  background-color: white;
  border: 0.7px solid rgb(212, 212, 212);
}

.container>a>.product:hover {
  transform: scale(1.05);
}

.container>a>.product>.product_image {
  width: 100%;
  height: 80%;
  object-fit: contain;
}

.container>a>.product>.product_title {
  font-size: 25px;
  font-weight: 600;
  position: absolute;
  line-height: 25px;
  bottom: 0;
  width: 100%;
  border-radius: 0 0 5px 5px;
  padding: 7px 3px;
  margin: 0;
  background-color: rgb(42, 42, 42);
  color: #fff;
}

.line {
  text-align: center;
  font-size: 17px;
  word-break: keep-all;
  margin: 4rem 2rem 2rem 2rem;
  color: #616161;
  visibility: hidden;
}

footer {
  text-align: center;
  padding: 0.7rem 0.2rem;
  background-color: #0b0b0b;
  color: white;
}

@media (max-width:600px) {

  header {
    justify-content: space-around;
    padding-left: 0;
    padding-right: 0;
  }

  header>h1 {
    font-size: 30px;
  }

  .product {
    width: 160px !important;
  }

  .container>a>.product>.product_title {
    line-height: 17px;
    font-size: 17px !important;
  }

  .instagram>h3 {
    display: none;
  }
}